<div class="global-wrapper" ng-app="myApp">

    <!-- nav section -->
    
    <mat-toolbar color="green" class="app-header">
        <div>Whatsapp</div>
        <span class="nav-tool-items">
            <a id="backButton" mat-raised-button routerLink="mainChat" routerLinkActive="active">Back to chat</a>
        </span>
    </mat-toolbar>
    
        <!--     contact list   	 -->
        <div class="form">
          <div class="contactlist">
            <label id="labelContactList" for= "contactlist" style="font-size: 20px;">Contacts: </label>
            <select id="contactlist" style="height: 280px;" size="15"></select>
          </div>
          <div class="input">
            <mat-form-field>
              <mat-label>First Name:</mat-label>
              <input id="first_name" matInput type="text">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Last Name:</mat-label>
              <input id="last_name" matInput type="text"><br>
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>E-Mail:</mat-label>
              <input id="email" matInput  type="text"><br>
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Phone Number:</mat-label>
              <input id="phone_number" matInput type="text">
            </mat-form-field>
          </div>
        </div>
        
       

  
      
    