<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div style="background-image: url('./Login.png');">
        <h1>WhatsApp Clone</h1>
        <p>Please login with your Phone Number:</p>

        <input type="tel" required><br>

        <button type="button">Login</button>
    </div>
    
    
</body>
</html>

