<div id="body">
<div id="profilecontent">
    <div id="upperborder">
        <h1>Profile and status</h1>
      <a mat-mini-fab  aria-label="Example icon button with a home icon" 
      routerLink="backToMainChat" routerLinkActive="active" class="button-header">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </a>
  
    </div>
    <div id="profilephoto">
        <label for="files" class="btn">
            <img id="myImg" [src]="url" alt="" height="200px">

            <mat-icon id="changeid">border_color</mat-icon>
        </label>
        <input type="file" id="files" (change)="onselectFile($event)" style="visibility:hidden">

    </div>
    <br>
    <div class="div-border">
        <mat-form-field class="example-form-field">
            <mat-label>Your name</mat-label>
            <input id="name" matInput type="text" disabled>
        </mat-form-field>
    </div>
    <div class="div-border">
        <mat-form-field class="example-form-field">
            <mat-label>Your email</mat-label>
            <input id="email" matInput type="text" 
             disabled>
        </mat-form-field>
    </div>
</div>
</div>