<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="profilecontent">
<div id="upperborder">
    <h1>Profile and status</h1>
    <mat-icon>keyboard_arrow_left</mat-icon>
</div>
<div id="profilephoto">
    <label for="files" class="btn">
    <img id="myImg" [src]="url" alt="" height="200px">
   
    <mat-icon id="changeid">border_color</mat-icon>
</label>
<input type="file" id="files" (change)="onselectFile($event)" style="visibility:hidden">

</div>
<br>
<div class="div-border">
    <mat-form-field class="example-form-field">
        <mat-label>Your name</mat-label>
        <input matInput type="text">
    </mat-form-field>
</div>
<div class="div-border">
    <mat-form-field class="example-form-field">
        <mat-label>Your status</mat-label>
        <input matInput type="text" [(ngModel)]="value">
    </mat-form-field>
</div></div>