.chat {
  height: 100%;
}

.header {
  height: 10%;
  background-color: #EDEDED;

}

.chath {
  text-align: center;

}

.body {
  word-break: break-all;
  height: 80%;
  background: url('https://i.pinimg.com/originals/85/70/f6/8570f6339d3189c96e340d47a581d3b8.jpg');
  overflow-y: scroll;
}

.footer {
  height: 10%;
  background: #EDEDED;
  /* align-items: center; */
  border-top: 1px solid lightgray;
  text-align: center;
}

#textinput {
  text-align: left;
  width: 50%;
  height: 35px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 20px;
  position: right;
  margin-top: 30px;
}

.sendbutton {
  margin: 10px;
  background-color: #075e54;
}

#message_bubble {}

.button-header {
  background-color: #075e54;
  margin-left: 10px;
}

.roomname {
  padding-top: 20px;
}
