<section class="chat">
    <div class="header">
        <div class="chatname">
            <h3>{{'ROOM NAME'}}</h3>
        </div>
        <div class="chat_header_right">
        </div>
    </div>
    <div class="body">
        <div *ngFor="let message of messageList">
            <p>{{ message }}</p>
        </div>
        <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
        <button (click)="sendMessage()">Send Message</button>
    </div>
    <div class="footer">
        <label for="textinput"></label>
        <input type="text" id="textinput" placeholder="Type a message">
    </div>
</section>