<app-sidebar></app-sidebar>
<section class="chat">
    <div class="header">
        <div class="chath">
            <div class="roomname">{{ roomname }}
                <a mat-fab aria-label="Example icon button with a heart icon" id="button-header"
                    routerLink="contact-page" routerLinkActive="active">
                    <mat-icon>person_search</mat-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="body">
        <div id="div_id" *ngFor="let message of messageList">
            <p *ngIf="message.message_from !== roomname" id="message_bubble2">{{ message.message_text }}</p>
            <p *ngIf="message.message_from === roomname" id="message_bubble1">{{ message.message_text}}</p>
        </div>

    </div>
    <div class="footer">
        <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" id="textinput"
            placeholder=" Type a message" required="required" />
        <button [disabled]=" !newMessage" mat-mini-fab aria-label="Example icon-button with a heart icon"
            (click)=" sendMessage()" class="sendbutton">
            <mat-icon>send</mat-icon>
        </button>

    </div>
</section>