.chat {
  height: 100%;
}

.header {
  height: 10%;
  background-color:  #EDEDED;

}

.chath {
  text-align: center;

}

.body {
  word-break: break-all;
  height: 80%;
  background-image: url("/assets/Images/login-backgr.jpg");
  /*background-color: lightgray;*/
  font-family: "Helvetica Neue", Helvetica;
  overflow-y: scroll;
}

.footer {
  height: 10%;
  background: #EDEDED;
  /* align-items: center; */
  border-top: 1px solid lightgray;
  text-align: center;
}

#textinput {
  text-align: left;
  width: 50%;
  height: 35px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 20px;
  position: right;
  margin-top: 30px;
}

.sendbutton {
  margin: 10px;
  background-color: #075e54;
}

#message_bubble1 {
  float:left;
  max-width: 75%;
  width: auto;    
  height: auto;
  display: inline-block;
  background: #ebebeb;
  border-radius: 5px;
  position: relative;
  margin: 10px 0 3px 25px;   
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  clear: both;
  padding: 20px;
  border-radius: 10px;
}

#message_bubble2 {
  float:right;
  max-width: 75%;
  width: auto;    
  height: auto;
  display: inline-block;
  background: #DCF8C6;
  border-radius: 5px;
  margin-right: 30px;
  position: relative;
  margin: 10px 0 3px 25px;   
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  clear: both;
  padding: 20px;
  border-radius: 10px;
}

#button-header {
  background-color: #075e54;
  margin-left: 10px;
}

.roomname {
  padding-top: 20px;
  font-size: 30px;
}
