.chat {
  height: 100%;
}

.header {
  height: 5%;
  background-color: #EDEDED;
}

.chatname {
  text-align: center;
  padding: 20px;
}

.body {
  height: 90%;
  background: url('https://i.pinimg.com/originals/85/70/f6/8570f6339d3189c96e340d47a581d3b8.jpg');
  overflow-y: scroll;
}

.footer {
  height: 5%;
  background: #EDEDED;
  /* align-items: center; */
  border-top: 1px solid lightgray;
  text-align: center;
}

#textinput {
  text-align: left;
  width: 50%;
  height: 35px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 20px;
  position: right;
}

.sendbutton {
  margin: 10px;
  background-color: #075e54;
}
