<section class="chat">
    <div class="header">
        <div class="chatname">
            <h3>{{'ROOM NAME'}}</h3>
        </div>
        <div class="chat_header_right">
        </div>
    </div>
    <div class="body">
        <div *ngFor="let message of messageList">
            <p>{{ message }}</p>
        </div>

    </div>
    <div class="footer">
        <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" id="textinput"
            placeholder="Type a message" ng-minlength="5" required />
        <!--<button (click)=" sendMessage()" class="sendbutton">Send Message</button>-->
        <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)=" sendMessage()" class="sendbutton">
            <mat-icon>send</mat-icon>
        </button>

    </div>
</section>