.main-wrapper mat-card-header mat-card-title {
  font-size: 25px;
  margin: 5px;
}

.main-wrapper {
  background-image: url("/assets/Images/login-backgr.jpg");
}

#log{
  color: darkred;
  text-align: center;
  font-size: small;
}

