.sidebar_content{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;

}

.sidebar_content :hover{
    background-color: lightgray;
}

.sidebar_content_room{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.sidebar_content_room_last-msg{
    align-self: flex-start;
}

span{
    font-size: ;
}