<section class="sidebar">
  <div class="header">
    <div class="headerbutton">

      <div class="example-button-container">
        <button mat-fab aria-label="Example icon button with a heart icon" class="button-header">
          <mat-icon>more vert</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab aria-label="Example icon button with a heart icon" class="button-header">
          <mat-icon>person_search</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab aria-label="Example icon button with a heart icon" class="button-header">
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="sidebar_searchcontent">
      <form>
        <button class="button-class">
          <mat-icon>search-outline</mat-icon>
        </button>
        <input type="text" class="sidebar_searchbutton" name="search" placeholder="Search for a chat">
      </form>
    </div>
  </div>
</section>