.sidebar {
    height: 100%;
    flex: .35;
    border-right: 1px solid lightgray;
    flex-direction: column;
    display: flex;
  }
  
  .header{
    padding: 10px;
    max-height: 60px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
  }
  
  .search {
    background-color: #F6F6F6;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    justify-content: center;
    position: left;
  
  }
  .button-class{
    border: none;
    background-color: #F6F6F6;
    color: rgb(160, 150, 150);
  }
  
  .sidebar_searchbutton {
    border: 1px solid lightgray;
    width: 380px;
    outline: none;
    border-radius: 20px;
    padding: 8px 20px 8px 30px;
    position: right;
  }
  
  .sidebar_content {
    overflow-y: scroll;
    height: 100%;
  }
  
  .example-button-container{
    display: table-cell;
    padding-left: 5px;
  }
  .headerbutton{
    position: right;
  }