<section class="sidebar">
  <div class="header">
    <div class="headerbutton">

      <div class="example-button-container">
        <!-- <button mat-fab aria-label="Example icon button with a heart icon" class="button-header">
          <mat-icon>more vert</mat-icon>
        </button> -->
        <a mat-fab aria-label="Example icon button with a heart icon" id="button-header" routerLink="logout"
          routerLinkActive="active">
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </div>
      <div class="example-button-container">
        <a mat-fab aria-label="Example icon button with a heart icon" class="button-header" routerLink="contact-list"
        routerLinkActive="active"  >
          <mat-icon>person_add</mat-icon>
        </a>
      </div>
      <div class="example-button-container">
        <!-- <button mat-fab aria-label="Example icon button with a heart icon" class="button-header">
          <mat-icon>person</mat-icon>
        </button> -->
        <a mat-fab aria-label="Example icon button with a heart icon" class="button-header" routerLink="profileSite"
          routerLinkActive="active">
          <mat-icon>person</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="sidebar_searchcontent">
      <form>
        <button class="button-class">
          <mat-icon>search-outline</mat-icon>
        </button>
        <input type="text" class="sidebar_searchbutton" name="search" placeholder="Search for a chat">
      </form>
    </div>
    <div class="sidebar_content">
      <button id="create_chat">+</button>
      <select name="" id="chat_list" size="10"></select>
    </div>
  </div>
</section>