<div id="body">
    <div id="profilecontent">
        <div id="upperborder">
            <h1>Contact Profile Page </h1>
          <a mat-mini-fab  aria-label="Example icon button with a home icon" 
          routerLink="backToMainChat" routerLinkActive="active" class="button-header">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </a>
      
        </div>
        <div id="profilephoto">
            <label for="files" class="btn">
                <img id="myImg" [src]="url" alt="" height="200px">
    
                
            </label>
            <input type="file" id="files" style="visibility:hidden" disabled>
    
        </div>
        <br>
        <div class="div-border">
            <mat-form-field class="example-form-field">
                <mat-label>Name</mat-label>
                <input id="contactName" matInput type="text" disabled>
            </mat-form-field>
        </div>
        <div class="div-border">
            <mat-form-field class="example-form-field">
                <mat-label>email</mat-label>
                <input id="contactEmail" matInput type="text" disabled>
            </mat-form-field>
        </div>
    </div>
    </div>
